body {
    background-color: black;
    color: green;
    font-family: "Source Code Pro", monospace;
    font-size: medium;
}

input {
    background-color: black;
    color: green;
    border: none;
    outline: none;
    cursor: text;
    width: 50vw;
    font-family: "Source Code Pro", monospace;
    font-size: medium;
}

textarea {
    background-color: black;
    color: green;
    border: none;
    outline: none;
    cursor: text;
    width: 98vw;
    height: 98vh;
    font-family: "Source Code Pro", monospace;
    font-size: medium;
}

.submitbtn {
    display: none;
}

.vim {
    display: none;
    flex-direction: column;
    width: 98vw;
    height: 98vh;
}

#viminput {
    display: block;
}

#statusbar {
    display: block;
    width: 95vw;
    height: 20px;
    background-color: #121212;
}

.terminal {
    overflow-y: scroll;
    overflow-wrap: break-word;
}

.root {
    display: flex;
    flex-direction: column;
    width: 95vw;
    height: 95vh;
}